body {
    padding: 0;
    margin: 0;
    background: url(https://wangshanlong-blog.github.io/pictures-bed/pictures/nice.jpg) bottom center no-repeat #efeff4;
    width: 100%;
    heigth: 100%;
    background-size: 100% 100%;
}
