body {
    padding: 0;
    margin: 0;
    background: url(https://wangshanlong-blog.github.io/pictures-bed/pictures/nice2.jpg) no-repeat;
    width: 100%;
    heigth: 100%:
    background-size: 100%;
}
